In [13]:
import pandas as pd

melbourne_file_path = '../datafile/melb_data.csv'
melbourne_data = pd.read_csv(melbourne_file_path)
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

* .columns : 열 인덱스 추출

In [14]:
melbourne_data = melbourne_data.dropna(axis=0)

* .dropna(axis=0) : NaH 값이 포함된 row를 제거
* .dropna(axis=1) : NaH 값이 포함된 column을 제거

In [15]:
y = melbourne_data.Price

* prediction target = **.**(dot notation)을 통해 예측하고자 하는 값을 지정한다  
* 일반적으로 prediction target은 변수 **y**를 이용한다

In [16]:
melbourne_features = ['Rooms','Bathroom','Landsize','Lattitude','Longtitude']
X = melbourne_data[melbourne_features]

* features : 예측을 위해 사용할 변수(특징)들
* 일반적으로 features는 변수 **X**를 이용한다

In [17]:
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [18]:
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

* 이처럼 데이터를 시각적으로 확인하는 작업은 매우 중요하다.

# **scikit-learn(sklearn)**
### **: 가장 대충적인 데이터 모델링 라이브러리**
* **Define** : 어떤 종류의 모델을 만들 것인가
* **Fit** : 데이터에서 패턴을 찾는 것(모델링의 핵심)
* **Predict** : 예측하는 것
* **Evaluate** : 모델의 예측 정확성 평가

In [19]:
from sklearn.tree import DecisionTreeRegressor

melbourne_model = DecisionTreeRegressor(random_state=1)
melbourne_model.fit(X,y)

DecisionTreeRegressor(random_state=1)

* random_state : 난수 시드를 지정해줌으로 각 시행마다 같은 결과가 나오도록 한다

In [20]:
print(X.head())
print("예측값 : ",end='')
print(melbourne_model.predict(X.head()))

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
예측값 : [1035000. 1465000. 1600000. 1876000. 1636000.]